:root {
  --df-corner: 10px;
  --df-font: "Myriad Pro";
  --df-color-primary: #000;
  --df-color-bg-outer: #cab996;
  --df-color-bg-inner: #f5f1e8;
  --df-color-border: #c2af88;
}

.df-pseudo-cut-corners {
  position: relative;
  clip-path: none;
  --df-corner: 4px;
}

.df-pseudo-cut-corners::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    var(--df-corner) 0%,
    calc(100% - var(--df-corner)) 0%,
    100% var(--df-corner),
    100% calc(100% - var(--df-corner)),
    calc(100% - var(--df-corner)) 100%,
    var(--df-corner) 100%,
    0% calc(100% - var(--df-corner)),
    0% var(--df-corner)
  );
}

.df-pseudo-cut-corners.outer {
  filter: drop-shadow(0.2em 0.2em 0.4em rgba(0, 0, 0, 0.5));
  padding: 1.4px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.df-pseudo-cut-corners.outer::before {
  background-color: var(--df-color-bg-outer);
}

.df-pseudo-cut-corners.inner {
  padding: 5px;
  box-sizing: border-box;
}

.df-pseudo-cut-corners.inner::before {
  background-color: var(--df-color-bg-inner);
}

.df-card-inner {
  font-family: var(--df-font-text);
  color: var(--df-color-primary);
  font-weight: 1000;
}

.df-card-inner * {
  font-family: inherit;
  color: inherit;
}

.df-card-inner h2{
  font-size: 1.3em;
  font-weight: 700;
  margin: 0;
}
.df-card-inner .df-subtitle,
.df-card-inner .df-section,
.df-card-inner .df-feature-title {
  font-weight: bold;
}

.df-card-inner .df-desc {
  font-weight: 500;
  font-style: italic;
  font-size: 0.8em;
}

.df-card-inner .df-motives {
  font-weight: 700;
}

.df-card-inner .df-motives-desc,
.df-card-inner .df-feature-desc {
  font-weight: 500;
  font-size: small;
}

.df-card-inner .df-stats {
  margin: 2px 0;
  padding-left: 10px;
  font-weight: 600;
  background-color: #fff;
  font-size: 0.9em;
  border-top: 2px solid var(--df-color-border);
  border-bottom: 2px solid var(--df-color-border);
}

.df-card-inner .df-stat {
  font-weight: 400;
}

.df-stats .df-experience-line {
  border-top: 1px dashed var(--df-color-border);
  margin-top: 1px;
  padding-top: 1px;
  background-color: #fff;
}

.df-card-inner .df-feature {
  margin-bottom: 2px;
}

.df-input-field{
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 10px;
}

input.df-input-help{
  width: 100%;
  max-width: 360px;
}

/* select.df-input-field {
  width: 120px;
} */


.df-tier-select {
  width: 20%;
  margin-bottom: 10px;
}

.df-type-select {
  width: 20%;
  margin-bottom: 10px;
}

.df-features-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.df-tier-filter-btn {
  margin-left: 5px;
  margin-top: 3px;
}

.df-adversary-card {
  border: 1px solid #888;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 4px;
}

.df-tier-text {
  font-size: 0.8em;
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bold;
}

.df-title-small-padding {
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.df-desc-small-padding {
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 0.9em;
}

.df-adversary-results {
  margin-top: 10px;
}

/* modal styles */

.df-inline-label {
  align-self: auto;
}

.df-modal-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* warpper for field rows */
.df-field-row {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    flex-direction: column;
}

/* adversary-name-textarea is used for the textarea input for the adversary name */
.df-adversary-name-textarea {
  width: 220px;
  height: 30px;
  margin-bottom: 10px;
}

/* for Tier*/
.df-input-field-first-row-tier {
  width: 100%;
  max-width: 50px;
  margin-bottom: 10px;
}
/* for Type */
.df-input-field-first-row {
  width: 100%;
  max-width: 100px;
  margin-bottom: 10px;
}

.df-description-textarea {
  min-width: 100%;
  height: 60px;
  margin-bottom: 10px;
  overflow: auto;
}

.df-motives-input {
  width: 100%;
  max-width: 340px;
}

.df-flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.df-inline-field {
  display: flex;
  flex-direction: column;
}

.df-experience-input {
  width: 100%;
  max-width: 240px;
}

.df-feature-block {
  margin-bottom: 1px;
}

.df-feature-row {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
}

.df-input-feature-name {
  flex: 1;
  max-width: 200px;
}

.df-field-feature-type {
  max-width: 100px;
}

.df-input-feature-cost {
  margin-bottom: 6px;
  display: block;
}

.df-feature-desc-input {
  width: 100%;
  margin-bottom: 6px;
  display: block;
  font-weight: 500;
  font-size: small;
  resize: vertical;
  overflow: auto;
}

.df-remove-feature-btn {
  margin-bottom: 10px;
}

.df-add-feature-btn {
  margin-top: 10px;
}

.df-insert-card-btn {
  display: block;
  margin-left: auto;
  margin-top: 10px;
  width: fit-content;
}

.df-adversary-browser-title{
  margin-top: 2px;
  margin-bottom: 4px;
}